<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="redisServer" value="127.0.0.1" />
  <add key="databaseIndex" value="2" />
  <add key="login_url" value="~/login/index"/>
  <add key="login_redirect_page" value="~/"/>
  <add key="log_p_logdir" value="register_logs"/>
  <add key="log_is_logged" value="true"/>
  <add key="log_level" value="Error"/>
  <add key="log_logger" value="Easy.Public.MyLog.PlainFileLogger,Easy.Public"/>
  <add key="monitorUrl" value="http://localhost:8000/OauthLogin"/>
  <add key="SignalR_Url" value="http://127.0.0.1:9479"/>
</appSettings>
