@{
    string activeDir = String.Empty;
    string activePro = String.Empty;
    string activeCus = String.Empty;
    string activeCha = String.Empty;
    string activeUser = string.Empty;
    var active = ViewBag.Active as string;
    switch (active)
    {
        case "Dir":
            activeDir = "active";
            break;

        case "Pro":
            activePro = "active";
            break;

        case "Cus":
            activeCus = "active";
            break;

        case "Cha":
            activeCha = "active";
            break;
        case "User":
            activeUser = "active";
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>日志中心</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/_all-skins.min.css">

    @RenderSection("css",false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>日志中心</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>日志中心</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <div class="btn-group" style="margin:8px">
                    <button class="btn btn-default" type="button">欢迎， @Easy.Log.Utility.UserSession.User</button>
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="min-width:120px">
                        <li><a href="/login/logout">退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="@activeDir treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>用户</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/User/Index"><i class="fa fa-circle-o"></i> 用户列表</a></li>
                        @*<li><a href="/User/Add"><i class="fa fa-circle-o"></i> 添加用户</a></li>*@
                    </ul>
                </li>
                <li class="@activePro treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>用户关系</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Relation/Invite"><i class="fa fa-circle-o"></i> 开始邀请</a></li>
                        <li><a href="/Relation/Manage"><i class="fa fa-circle-o"></i> 处理邀请</a></li>
                        <li><a href="/Relation/Bind"><i class="fa fa-circle-o"></i> 绑定</a></li>
                    </ul>
                </li>
                <li class="@activeCus treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i> <span>应用</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/App/index"><i class="fa fa-circle-o"></i> 应用列表</a></li>
                        <li><a href="/App/Add"><i class="fa fa-circle-o"></i> 添加应用</a></li>
                    </ul>
                </li>

                <li class="@activeCha treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>日志</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Log/index"><i class="fa fa-circle-o"></i> 历史日志</a></li>
                        <li><a href="/Log/Service"><i class="fa fa-circle-o"></i>选择服务</a></li>
                    </ul>
                </li>
                @*<li class="@activeUser treeview">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>操作员</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/user/index"><i class="fa fa-circle-o"></i> 操作员列表</a></li>
                        <li><a href="/user/adduser"><i class="fa fa-circle-o"></i> 添加操作员</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="/Login/GoMonitor">
                        <i class="fa fa-dashboard"></i>
                        <span>进入监控中心</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                </li>*@
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    @RenderBody()

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016.</strong> All rights reserved.
    </footer>
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
    @RenderSection("scripts", required: false)
</body>

</html>

