
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th"></i> Home</a></li>
            <li class="active">添加用户</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-10 col-lg-8">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加用户</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/directory/addpost" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label>用户名</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>真实姓名</label>
                                <input type="text" class="form-control" name="ip">
                            </div>
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control" name="path">
                            </div>
                            <div class="form-group">
                                <label>服务类型</label>
                                <select class="form-control" name="type">
                                    <option value="1">消费者</option>
                                    <option value="2">提供者</option>
                                    <option value="3">消费者提供者</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>描述</label>
                                <input type="text" class="form-control" name="content">
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div><!-- /.box -->
            </div><!--/.col (left) -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>
<link rel="stylesheet" href="/Content/select2.min.css">
<script src="/Scripts/select2.full.min.js"></script>
<script src="/Scripts/jquery.inputmask.js"></script>
<script src="/Scripts/jquery.inputmask.extensions.js"></script>